{% load static %}

{% block body %}

{% include 'navigation.html' %}

<marquee style="font-family: 'Courier New', Courier, monospace; font-size: 25px; color: darkcyan;">
    User Login
</marquee>

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Email</b></label>
    <input type="text" class="form-control" name="uname" placeholder="Enter email">

    <label><b>Password</b></label>
    <input type="password" class="form-control" name="pwd" placeholder="Enter Password">

    <input type="submit" value="Login" class="btn btn-primary" style="margin-top: 2%; color: darkcyan; background-color: black; height: 40px;">
    <a style="margin-top: 2%; color: darkcyan; background-color: black; height: 40px;" href="{% url 'user_signup' %}" class="btn btn-primary">CREATE AN ACCOUNT</a>
</form>


{ %include 'footer.html'% }
{% endblock %}